#poke-grid
	display grid
	grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
	grid-gap 10px
	margin 20px

.poke-card
	box-shadow 0 4px 8px 0 rgba(0, 0, 0, 0.2)
	text-align center
	background-color #efefef
	border 1px solid #999
	display grid
	grid-template-columns 1fr
	grid-template-rows 0.2fr 180px 0.2fr
	grid-template-areas "." "." "."
	
	div
		text-align center
		font-family sans-serif
		font-size 36px
		padding 20px
		display flex
		flex-direction column
		justify-content center
		flex 1
		
.poke-grid-loader-title
	text-align center
	font-family 'Bangers', cursive
	padding 50px 0 10px 0
	font-size 25px		