<div class="sidebar-container" >
	<div class="sidebar-top" >
		<img src="assets/images/pokeball.png" alt="pokeball" class="rotate-center">
	</div>
	<div class="sidebar-content">
		<nav class="sidebar-nav" >
			<ul>
				<li>
					<div>
						<i class="fa fa-home" aria-hidden="true"></i>
						<a [routerLink]="['inicio']">Inicio</a>						
					</div>
				</li>
				<li>
					<div>
						<i class="fa fa-cog" aria-hidden="true"></i>
						<a [routerLink]="['acerca']" >Acerca</a>
					</div>					
				</li>
			</ul>
		</nav>
	</div>
	<div class="sidebar-bottom"></div>	
</div>