/* You can add global styles to this file, and also import other style files */

body 
	margin 0

a
	text-decoration: none
	
.u-rubber-band
	animation rubberBand 1200ms infinite
	
.u-flip {
  animation: flip 1400ms infinite;
  animation-timing-function: cubic-bezier(.1,.67,.88,.34);
}	

/* Pokeball draw code */
// Size variable to keep all proportional if manipulate it

pbSize = 50px

.o-pokeball
	width pbSize
	height pbSize
	border-radius pbSize
	border solid (pbSize/25) black
	position relative
	background linear-gradient(to bottom, #EEEEEE 0%,#FFFFFF 100%)
	margin 10px auto

	&:before,
	&:after
		content ""
		display block

	&,
	&:before,
	&:after
		transition all 600ms cubic-bezier(.67,.4,.36,.75)

	&:before
		width pbSize
		height (pbSize/2)-(pbSize/25/2)
		border-bottom solid (pbSize/25) black
		border-radius (pbSize/2) (pbSize/2) 0 0
		background linear-gradient(to bottom, #d10000 0%,#ff0000 50%)

	&:after
		content ""
		width (pbSize/5)
		height (pbSize/5)
		background linear-gradient(to bottom, #fff 0%,#ccc 100%)
		position absolute
		left 50%
		top 50%
		transform translate(-50%,-50%)
		border-radius 50%
		box-shadow 0 0 0 (pbSize/50) black,0 0 0 (pbSize/25) #ddd,0 0 0 (pbSize/14) black,0 0 (pbSize/10) (pbSize/17) rgba(0,0,0,0.4)